@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="row align-items-center" style="padding: 0 0 0 15rem">
    <div class="card m-2 align-items-center" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">Alunos</h3>
            <p class="card-text">Estudantes cadastrados.</p>
            <a asp-controller="Alunos" asp-action="Index">
                <img src="~/Student.png" class="img-thumbnail"/>
            </a>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        
        <div class="card-body">
            <h3 class="card-title">Turmas</h3>
            <p class="card-text">Turmas cadastradas.</p>
            <a asp-controller="Turmas" asp-action="Index">
                <img src="~/classroom.png" class="img-thumbnail">
            </a>
        </div>
    </div>
</div>
<div>
    <br />
    <br />
    <br />
    <h1 class="text-danger text-center">Board</h1>
    <h2 class="text-center">Você possui 4 alunos cadastrados.</h2>
    <h2 class="text-center">Você possui 2 turmas cadastradas.</h2>
</div>
