@model IEnumerable<ChamadaVirtual.MVC.Models.Aluno>

@{
    ViewData["Title"] = "Visualizar";
}

<h1>Visualizar grupo</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Voltar</a>
</div>
