@model ChamadaVirtual.MVC.Models.Turma

@{
    ViewData["Title"] = "Excluir turma";
}

<h1>Excluir</h1>

<h3>Confirme a exclusão abaixo:</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <br /><br />
        <a asp-action="Index">Voltar</a>
    </form>
</div>
